body { padding-top: 50px; }

.navbar{
	background-color: #FBFBFB;
	background: linear-gradient(#FBFBFB, #F9F9F9);
}

.navbar-default .navbar-nav > li > a{
	color: #646060;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #2eafbb;
	box-shadow: 0px 2px 0px 0px rgba(46,175,187,1);
}

.barra_menu_seleccionado{
	color: #2eafbb !important;
	box-shadow: 0px 2px 0px 0px rgba(46,175,187,1);
}

#footer{
	background-color: #2f3338;
	font-size: 14px;
	line-height: 30px;
	color: #64696d;
}

#footer a{
	color: #2eafbb;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon textarea {
    padding-left: 30px;
}
.left-inner-addon span {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon textarea {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.color_propio_1{
    color:#2eafbb;
}

.color_propio_2{
	color:#65686D;
}

.icono-redondo i{
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto 18px;
	background: #fbfbfb;
	border-radius: 50%;
	border: 1px solid #e2e2e2;
	box-shadow: 0 1px 3px rgba(0,0,0,0.04);
	text-align: center;
	line-height: 100px;
	font-size: 40px;
	color: #343434;
	text-shadow: 0 1px 1px #e2e4e5;
}

.btn-color_propio {
  color: #ffffff;
  background-color: #0CBBCE;
  border-color: #0CBBCE;
}

.btn-color_propio:hover {
  color: #ffffff;
  background-color: #178E9D;
  border-color: #178E9D;
}

.btn-color_propio:hover,
.btn-color_propio:focus,
.btn-color_propio:active,
.btn-color_propio.active,
.open .dropdown-toggle.btn-color_propio {
  color: #ffffff;
  background-color: #178E9D;
  border-color: #178E9D;
}

.img-nosotros{
	box-shadow: 0px 0px 5px 1px rgba(219,219,219,1);
	border-bottom:solid 2px #2EAFBB;
	margin:0 15px 10px 0;
}

.barrita_basica_1{
	border-bottom:1px solid #E4E4E4;
	margin:4px 0;
}

.barrita_dashed_1{
	border-bottom:1px dashed #E4E4E4;
	margin:4px 0;
}

.contenedor_pregunta_faq a{
	display: block;
	color:#313538;
	padding: 5px 0;
}

.contenedor_pregunta_faq a:hover{
	text-decoration: none;
}

#menu_panel li a{
	border-radius: 0;
	color:#313538;
	padding:7px 0 7px 10px;
}

#menu_panel li a:hover{
	background-color: #2EAFBB;
	color:white;
}

#menu_panel li i{
	width: 20px;
}

.menu_panel_seleccionado{
	background-color: #2EAFBB;
	color:white !important;
}
